## Load Module

In [4]:
import pandas as pd

## Create Data

In [9]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

## Show Column 'Age'

In [10]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

## The only Column represents the Series

In [11]:
ages = pd.Series([22, 35, 58], name="Age")
ages

0    22
1    35
2    58
Name: Age, dtype: int64

In [18]:
print('ages max is ' + str(ages.max()))
print('df Age max is ' + str(df["Age"].max()))

ages max is 58
df Age max is 58